## Base16 Pop
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#202020
text-color=#505050
border-color=#d0d0d0

[urgency=normal]
background-color=#303030
text-color=#d0d0d0
border-color=#d0d0d0

[urgency=high]
background-color=#eb008a
text-color=#e0e0e0
border-color=#d0d0d0
