## Base16 Darktooth
# Author: Jason Milkins (https://github.com/jasonm23)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#504945
text-color=#A89984
border-color=#A89984

[urgency=low]
background-color=#32302F
text-color=#665C54
border-color=#A89984

[urgency=high]
background-color=#FB543F
text-color=#D5C4A1
border-color=#A89984
