## Base16 iA Dark
# Author: iA Inc. (modified by aramisgithub)
#
# You can use these variables anywhere in the mako configuration file.

border-color=#cccccc

[urgency=low]
background-color=#222222
text-color=#767676

[urgency=normal]
background-color=#1d414d
text-color=#cccccc

[urgency=high]
background-color=#d88568
text-color=#e8e8e8
