## Base16 Chalk
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#303030
text-color=#d0d0d0
border-color=#d0d0d0

[urgency=low]
background-color=#202020
text-color=#505050
border-color=#d0d0d0

[urgency=high]
background-color=#fb9fb1
text-color=#e0e0e0
border-color=#d0d0d0
