## Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#222E38
text-color=#667581
border-color=#586875

[urgency=normal]
background-color=#586875
text-color=#A6AFB8
border-color=#A6AFB8

[urgency=high]
background-color=#EF5253
text-color=#E8E9ED
border-color=#F5F7FA
