## Base16 Brewer
# Author: Timothée Poisot (http://github.com/tpoisot)
#
# You can use these variables anywhere in the mako configuration file.

border-color=#b7b8b9

[urgency=low]
background-color=#2e2f30
text-color=#737475

[urgency=normal]
background-color=#515253
text-color=#b7b8b9

[urgency=high]
background-color=#e31a1c
text-color=#dadbdc
