## Base16 Seti UI
# Author: 
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#282a2b
text-color=#41535B
border-color=#3B758C

[urgency=normal]
background-color=#3B758C
text-color=#d6d6d6
border-color=#d6d6d6

[urgency=high]
background-color=#Cd3f45
text-color=#eeeeee
border-color=#ffffff
