## Base16 Atelier Estuary Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)
#
# You can use these variables anywhere in the mako configuration file.

border-color=#5f5e4e

[urgency=low]
background-color=#e7e6df
text-color=#878573

[urgency=normal]
background-color=#929181
text-color=#5f5e4e

[urgency=high]
background-color=#ba6236
text-color=#302f27
