## Base16 3024
# Author: Jan T. Sott (http://github.com/idleberg)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#4a4543
text-color=#a5a2a2
border-color=#a5a2a2

[urgency=low]
background-color=#3a3432
text-color=#5c5855
border-color=#a5a2a2

[urgency=high]
background-color=#db2d20
text-color=#d6d5d4
border-color=#a5a2a2
