## Base16 Grayscale Dark
# Author: Alexandre Gavioli (https://github.com/Alexx2/)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#252525
text-color=#525252
border-color=#464646

[urgency=normal]
background-color=#464646
text-color=#b9b9b9
border-color=#b9b9b9

[urgency=high]
background-color=#7c7c7c
text-color=#e3e3e3
border-color=#f7f7f7
