## Base16 Harmonic16 Light
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#e5ebf1
text-color=#aabcce
border-color=#cbd6e2

[urgency=normal]
background-color=#cbd6e2
text-color=#405c79
border-color=#405c79

[urgency=high]
background-color=#bf8b56
text-color=#223b54
border-color=#0b1c2c
