## Base16 IR Black
# Author: Timothée Poisot (http://timotheepoisot.fr)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#242422
text-color=#6c6c66
border-color=#484844

[urgency=normal]
background-color=#484844
text-color=#b5b3aa
border-color=#b5b3aa

[urgency=high]
background-color=#ff6c60
text-color=#d9d7cc
border-color=#fdfbee
