## Base16 Material
# Author: Nate Peterson
#
# You can use these variables anywhere in the mako configuration file.

border-color=#EEFFFF

[urgency=low]
background-color=#2E3C43
text-color=#546E7A

[urgency=normal]
background-color=#314549
text-color=#EEFFFF

[urgency=high]
background-color=#F07178
text-color=#EEFFFF
