## Base16 Ashes
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
    background-color = "#393F45"
    text-color = "#747C84"
    border-color = "#565E65"

[urgency=normal]
    background-color = "#565E65"
    text-color = "#C7CCD1"
    border-color = "#C7CCD1"

[urgency=high]
    background-color = "#C7AE95"
    text-color = "#DFE2E5"
    border-color = "#F3F4F5"
