## Base16 Isotope
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

background-color=#606060
text-color=#d0d0d0
border-color=#d0d0d0

[urgency=low]
background-color=#404040
text-color=#808080
border-color=#d0d0d0

[urgency=high]
background-color=#ff0000
text-color=#e0e0e0
border-color=#d0d0d0
