## Base16 London Tube
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

border-color=#d9d8d8

[urgency=low]
background-color=#1c3f95
text-color=#737171

[urgency=normal]
background-color=#5a5758
text-color=#d9d8d8

[urgency=high]
background-color=#ee2e24
text-color=#e7e7e8
