## Base16 Macintosh
# Author: Rebecca Bettencourt (http://www.kreativekorp.com)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#404040
text-color=#808080
border-color=#c0c0c0

[urgency=normal]
background-color=#404040
text-color=#c0c0c0
border-color=#c0c0c0

[urgency=high]
background-color=#dd0907
text-color=#c0c0c0
border-color=#c0c0c0
