## Base16 OceanicNext
# Author: https://github.com/voronianski/oceanic-next-color-scheme
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#343D46
text-color=#65737E
border-color=#C0C5CE

[urgency=normal]
background-color=#4F5B66
text-color=#C0C5CE
border-color=#C0C5CE

[urgency=high]
background-color=#EC5f67
text-color=#CDD3DE
border-color=#C0C5CE
