## Base16 Material Darker
# Author: Nate Peterson
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#303030
text-color=#4A4A4A
border-color=#353535

[urgency=normal]
background-color=#353535
text-color=#EEFFFF
border-color=#EEFFFF

[urgency=high]
background-color=#F07178
text-color=#EEFFFF
border-color=#FFFFFF
