## Base16 Spacemacs
# Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)
#
# You can use these variables anywhere in the mako configuration file.

border-color=#a3a3a3

[urgency=low]
background-color=#282828
text-color=#585858

[urgency=normal]
background-color=#444155
text-color=#a3a3a3

[urgency=high]
background-color=#f2241f
text-color=#e8e8e8
