## Base16 Pico
# Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#1d2b53
text-color=#008751
border-color=#5f574f

[urgency=normal]
background-color=#7e2553
text-color=#5f574f
border-color=#5f574f

[urgency=high]
background-color=#ff004d
text-color=#c2c3c7
border-color=#5f574f
