## Base16 Bright
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#303030
text-color=#b0b0b0
border-color=#505050

[urgency=normal]
background-color=#505050
text-color=#e0e0e0
border-color=#e0e0e0

[urgency=high]
background-color=#fb0120
text-color=#f5f5f5
border-color=#ffffff
