## Base16 Green Screen
# Author: Chris Kempson (http://chriskempson.com)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
    background-color = "#003300"
    text-color = "#007700"
    border-color = "#005500"

[urgency=normal]
    background-color = "#005500"
    text-color = "#00bb00"
    border-color = "#00bb00"

[urgency=high]
    background-color = "#007700"
    text-color = "#00dd00"
    border-color = "#00ff00"
