## Base16 Google Dark
# Author: Seth Wright (http://sethawright.com)
#
# You can use these variables anywhere in the mako configuration file.

border-color=#c5c8c6

[urgency=low]
background-color=#282a2e
text-color=#969896

[urgency=normal]
background-color=#373b41
text-color=#c5c8c6

[urgency=high]
background-color=#CC342B
text-color=#e0e0e0
