## Base16 Google Light
# Author: Seth Wright (http://sethawright.com)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#c5c8c6
text-color=#373b41
border-color=#373b41

[urgency=low]
background-color=#e0e0e0
text-color=#b4b7b4
border-color=#373b41

[urgency=high]
background-color=#CC342B
text-color=#282a2e
border-color=#373b41
