## Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#2C2620
text-color=#5A5047
border-color=#433B32

[urgency=normal]
background-color=#433B32
text-color=#A39A90
border-color=#A39A90

[urgency=high]
background-color=#826D57
text-color=#BEB6AE
border-color=#DBD6D1
