## Base16 Hopscotch
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#433b42
text-color=#797379
border-color=#5c545b

[urgency=normal]
background-color=#5c545b
text-color=#b9b5b8
border-color=#b9b5b8

[urgency=high]
background-color=#dd464c
text-color=#d5d3d5
border-color=#ffffff
