## Base16 Summerfruit Dark
# Author: Christopher Corley (http://christop.club/)
#
# You can use these variables anywhere in the mako configuration file.

border-color=#D0D0D0

[urgency=low]
background-color=#202020
text-color=#505050

[urgency=normal]
background-color=#303030
text-color=#D0D0D0

[urgency=high]
background-color=#FF0086
text-color=#E0E0E0
