## Base16 Marrakesh
# Author: Alexandre Gavioli (http://github.com/Alexx2/)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#302e00
text-color=#6c6823
border-color=#5f5b17

[urgency=normal]
background-color=#5f5b17
text-color=#948e48
border-color=#948e48

[urgency=high]
background-color=#c35359
text-color=#ccc37a
border-color=#faf0a5
