## Base16 PhD
# Author: Hennig Hasemann (http://leetless.de/vim.html)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#4d5666
text-color=#b8bbc2
border-color=#b8bbc2

[urgency=low]
background-color=#2a3448
text-color=#717885
border-color=#b8bbc2

[urgency=high]
background-color=#d07346
text-color=#dbdde0
border-color=#b8bbc2
