## Base16 Shapeshifter
# Author: Tyler Benziger (http://tybenz.com)
#
# You can use these variables anywhere in the mako configuration file.

border-color=#102015

[urgency=low]
background-color=#e0e0e0
text-color=#555555

[urgency=normal]
background-color=#ababab
text-color=#102015

[urgency=high]
background-color=#e92f2f
text-color=#040404
