## Base16 Paraiso
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

border-color=#a39e9b

[urgency=low]
background-color=#41323f
text-color=#776e71

[urgency=normal]
background-color=#4f424c
text-color=#a39e9b

[urgency=high]
background-color=#ef6155
text-color=#b9b6b0
