## Base16 Bespin
# Author: Jan T. Sott
#
# You can use these variables anywhere in the mako configuration file.

background-color=#5e5d5c
text-color=#8a8986
border-color=#8a8986

[urgency=low]
background-color=#36312e
text-color=#666666
border-color=#8a8986

[urgency=high]
background-color=#cf6a4c
text-color=#9d9b97
border-color=#8a8986
