## Base16 Monokai
# Author: Wimer Hazenberg (http://www.monokai.nl)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
    background-color = "#383830"
    text-color = "#75715e"
    border-color = "#49483e"

[urgency=normal]
    background-color = "#49483e"
    text-color = "#f8f8f2"
    border-color = "#f8f8f2"

[urgency=high]
    background-color = "#f92672"
    text-color = "#f5f4f1"
    border-color = "#f9f8f5"
