## Base16 Railscasts
# Author: Ryan Bates (http://railscasts.com)
#
# You can use these variables anywhere in the mako configuration file.

[urgency=low]
background-color=#272935
text-color=#5a647e
border-color=#e6e1dc

[urgency=normal]
background-color=#3a4055
text-color=#e6e1dc
border-color=#e6e1dc

[urgency=high]
background-color=#da4939
text-color=#f4f1ed
border-color=#e6e1dc
