## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the mako configuration file.

border-color=#{{base05-hex}}

[urgency=low]
background-color=#{{base01-hex}}
text-color=#{{base03-hex}}

[urgency=normal]
background-color=#{{base02-hex}}
text-color=#{{base05-hex}}

[urgency=high]
background-color=#{{base08-hex}}
text-color=#{{base06-hex}}
